DB_HOST=localhost
DB_USER=root
DB_PASSWORD=
DB_NAME=movie_app_chill
DB_PORT=3306
PORT=3000
JWT_SECRET=isi_dengan_secret_kamu
EMAIL_USER=isi_dengan_user_mailtrap
EMAIL_PASS=isi_dengan_pass_mailtrap